[user]
	email = brodierobertson54321@gmail.com
	name = Brodie Robertson
[alias]
  patch = !git --no-pager diff --no-color
[core]
	editor = nvim
	#pager = diff-so-fancy | less --tabs=2 -RFXS --pattern '^(Date|added|deleted|modified): '
	pager = moar
[github]
	user = BrodieRobertson
[hub]
	protocol = https
[color]
	ui = true
[color "diff-highlight"]
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
	oldNormal = red bold
[color "diff"]
	meta = 11 bold
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	changeHunkIndicators = false
	stripLeadingSymbols = false
	markEmptyLines = false
	rulerWidth =
  useUnicodeRuler = false
[credential "https://github.com"]
	helper = !gh auth git-credential
[protocol "file"]
	allow = always
[safe]
	directory = /opt/flutter
[init]
	defaultBranch = master
