[Desktop Entry]
GenericName=Advanced Text Editor  (on )
GenericName[ar]=محرّر نصوص متقدّم  (on )
GenericName[ast]=Editor avanzáu de testu  (on )
GenericName[bg]=Усъвършенстван текстов редактор  (on )
GenericName[bs]=Napredni uređivač teksta  (on )
GenericName[ca]=Editor de text avançat  (on )
GenericName[ca@valencia]=Editor de text avançat  (on )
GenericName[cs]=Pokročilý textový editor  (on )
GenericName[da]=Avanceret teksteditor  (on )
GenericName[de]=Erweiterter Texteditor  (on )
GenericName[el]=Προχωρημένος επεξεργαστής κειμένου  (on )
GenericName[en_GB]=Advanced Text Editor  (on )
GenericName[es]=Editor de texto avanzado  (on )
GenericName[et]=Täiustatud tekstiredaktor  (on )
GenericName[eu]=Testu-editore aurreratua  (on )
GenericName[fi]=Kehittynyt tekstimuokkain  (on )
GenericName[fr]=Éditeur de texte avancé  (on )
GenericName[ga]=Ardeagarthóir Téacs  (on )
GenericName[gl]=Editor avanzado de textos  (on )
GenericName[he]=עורך טקסט מתקדם  (on )
GenericName[hr]=Napredni uređivač teksta  (on )
GenericName[hu]=Speciális szövegszerkesztő  (on )
GenericName[ia]=Editor avantiate de texto  (on )
GenericName[id]=Pengedit Teks Canggih  (on )
GenericName[is]=Þróaður textaritill  (on )
GenericName[it]=Editor di testi avanzato  (on )
GenericName[ja]=高度なテキストエディタ  (on )
GenericName[kk]=Үздік мәтін редакторы  (on )
GenericName[km]=កម្មវិធី​និពន្ធ​អត្ថបទ​កម្រិត​ខ្ពស់  (on )
GenericName[ko]=고급 텍스트 편집기  (on )
GenericName[lt]=Sudėtingesnis teksto redaktorius  (on )
GenericName[lv]=Jaudīgs teksta redaktors  (on )
GenericName[mr]=प्रगत पाठ्य संपादक  (on )
GenericName[nb]=Avansert skriveprogram  (on )
GenericName[nds]=Verwiedert Texteditor  (on )
GenericName[ne]=उन्नत पाठ सम्पादक  (on )
GenericName[nl]=Geavanceerde teksteditor  (on )
GenericName[nn]=Avansert skriveprogram  (on )
GenericName[pa]=ਤਕਨੀਕੀ ਟੈਕਸਟ ਐਡੀਟਰ  (on )
GenericName[pl]=Zaawansowany edytor tekstu  (on )
GenericName[pt]=Editor de Texto Avançado  (on )
GenericName[pt_BR]=Editor de textos avançado  (on )
GenericName[ro]=Redactor de text avansat  (on )
GenericName[ru]=Улучшенный текстовый редактор  (on )
GenericName[si]=උසස් පෙළ සකසනය  (on )
GenericName[sk]=Pokročilý textový editor  (on )
GenericName[sl]=Napreden urejevalnik besedil  (on )
GenericName[sr]=Напредни уређивач текста  (on )
GenericName[sr@ijekavian]=Напредни уређивач текста  (on )
GenericName[sr@ijekavianlatin]=Napredni uređivač teksta  (on )
GenericName[sr@latin]=Napredni uređivač teksta  (on )
GenericName[sv]=Avancerad texteditor  (on )
GenericName[tg]=Муҳаррири матнӣ (Васеъшуда)  (on )
GenericName[tr]=Gelişmiş Metin Düzenleyici  (on )
GenericName[ug]=ئالىي تېكىست تەھرىرلىگۈچ  (on )
GenericName[uk]=Потужний текстовий редактор  (on )
GenericName[vi]=Trình biên tập văn bản nâng cao  (on )
GenericName[x-test]=xxAdvanced Text Editorxx  (on )
GenericName[zh_CN]=高级文本编辑器  (on )
GenericName[zh_TW]=進階文字編輯器  (on )
Name=Kate  (on )
Name[ar]=كيت  (on )
Name[ast]=Kate  (on )
Name[be]=Kate  (on )
Name[bg]=Kate  (on )
Name[bs]=Kate  (on )
Name[ca]=Kate  (on )
Name[ca@valencia]=Kate  (on )
Name[cs]=Kate  (on )
Name[da]=Kate  (on )
Name[de]=Kate  (on )
Name[el]=Kate  (on )
Name[en_GB]=Kate  (on )
Name[eo]=Kate  (on )
Name[es]=Kate  (on )
Name[et]=Kate  (on )
Name[eu]=Kate  (on )
Name[fi]=Kate  (on )
Name[fr]=Kate  (on )
Name[ga]=Kate  (on )
Name[gl]=Kate  (on )
Name[he]=Kate  (on )
Name[hu]=Kate  (on )
Name[ia]=Kate  (on )
Name[id]=Kate  (on )
Name[it]=Kate  (on )
Name[ja]=Kate  (on )
Name[kk]=Kate  (on )
Name[km]=Kate  (on )
Name[ko]=Kate  (on )
Name[lt]=Kate  (on )
Name[lv]=Kate  (on )
Name[mr]=केट  (on )
Name[ms]=Kate  (on )
Name[nb]=Kate  (on )
Name[nds]=Kate  (on )
Name[ne]=केट  (on )
Name[nl]=Kate  (on )
Name[nn]=Kate  (on )
Name[pa]=ਕੇਟ  (on )
Name[pl]=Kate  (on )
Name[pt]=Kate  (on )
Name[pt_BR]=Kate  (on )
Name[ro]=Kate  (on )
Name[ru]=Kate  (on )
Name[si]=Kate  (on )
Name[sk]=Kate  (on )
Name[sl]=Kate  (on )
Name[sr]=Кејт  (on )
Name[sr@ijekavian]=Кејт  (on )
Name[sr@ijekavianlatin]=Kate  (on )
Name[sr@latin]=Kate  (on )
Name[sv]=Kate  (on )
Name[tg]=Кейт  (on )
Name[tr]=Kate  (on )
Name[ug]=Kate  (on )
Name[uk]=Kate  (on )
Name[vi]=Kate  (on )
Name[wa]=Kate  (on )
Name[x-test]=xxKatexx  (on )
Name[zh_CN]=Kate  (on )
Name[zh_TW]=Kate  (on )
Comment=KDE Advanced Text Editor
Comment[ar]=كيت محرّر النّصوص المتقدّم
Comment[ast]=Editor avanzáu de testu de KDE
Comment[ca]=Editor avançat de text pel KDE
Comment[ca@valencia]=Editor avançat de text pel KDE
Comment[cs]=Pokročilý textový editor pro KDE
Comment[da]=KDE Avanceret Tekst Editor
Comment[de]=Erweiterter Texteditor für KDE
Comment[el]=Προχωρημένος επεξεργαστής κειμένου για το KDE
Comment[en_GB]=KDE Advanced Text Editor
Comment[es]=Editor de texto avanzado de KDE
Comment[et]=KDE täiustatud tekstiredaktor
Comment[eu]=KDE testu-editore aurreratua
Comment[fi]=KDE:n kehittynyt tekstimuokkain
Comment[fr]=Éditeur de texte avancé de KDE
Comment[gl]=Editor avanzado de textos de KDE
Comment[he]=עורך טקסט מתקדם של KDE
Comment[hu]=Speciális szövegszerkesztő
Comment[ia]=KDE Advanced Text Editor, i.e. Editor avantiate de texto de KDE
Comment[id]=Pengedit Teks Canggih KDE
Comment[it]=Editor di testi avanzato di KDE
Comment[ko]=KDE 고급 텍스트 편집기
Comment[lt]=Sudėtingesnė KDE rašyklė
Comment[nb]=Avansert skriveprogram for KDE
Comment[nl]=KDE geavanceerde tekstbewerker
Comment[nn]=Avansert skriveprogram for KDE
Comment[pa]=KDE ਤਕਨੀਕੀ ਟੈਕਸਟ ਐਡੀਟਰ
Comment[pl]=Zaawansowany edytor tekstu KDE
Comment[pt]=Editor de Texto Avançado do KDE
Comment[pt_BR]=Editor de texto avançado do KDE
Comment[ru]=Улучшенный текстовый редактор от KDE
Comment[sk]=KDE pokročilý textový editor
Comment[sl]=Napreden urejevalnik besedil za KDE
Comment[sr]=КДЕ‑ов напредни уређивач текста
Comment[sr@ijekavian]=КДЕ‑ов напредни уређивач текста
Comment[sr@ijekavianlatin]=KDE‑ov napredni uređivač teksta
Comment[sr@latin]=KDE‑ov napredni uređivač teksta
Comment[sv]=KDE avancerad texteditor
Comment[tg]=Муҳаррири матнии KDE (Васеъшуда)
Comment[tr]=KDE Gelişmiş Metin Düzenleyici
Comment[uk]=Потужний текстовий редактор KDE
Comment[x-test]=xxKDE Advanced Text Editorxx
Comment[zh_CN]=KDE 高级文本编辑器
Comment[zh_TW]=KDE 進階文字編輯器
MimeType=text/plain;
Exec=/usr/bin/distrobox-enter  -n  -- '  kate -b  %U'
StartupNotify=true
X-KDE-HasTempFileOption=true
Icon=kate
X-DocPath=kate/index.html
Type=Application
Terminal=false
InitialPreference=9
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.kate  (on )
Categories=Qt;KDE;Utility;TextEditor;
StartupWMClass=kate
