[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/x-mswinurl;
Exec=env WINEPREFIX="/home/brodie/games/final-fantasy-xiv-online-xivlauncher" /home/ubuntu/buildbot/runners/wine/lutris-6.10-7-x86_64/bin/wine start /ProgIDOpen InternetShortcut %f
NoDisplay=true
StartupNotify=true
Icon=1CD8_rundll32.0
