<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Version>190219</Version>
    <ShowTrackLines>1</ShowTrackLines>
    <ScrollZooms>0</ScrollZooms>
    <InvertTimelineScrollAxes>1</InvertTimelineScrollAxes>
    <EditToolSelectsLinks>0</EditToolSelectsLinks>
    <EditToolAlsoSeeks>0</EditToolAlsoSeeks>
    <SelectAlsoSeeks>0</SelectAlsoSeeks>
    <PasteSeeks>1</PasteSeeks>
    <ImageSequenceFormats>jpg|jpeg|bmp|tiff|tif|psd|png|tga|jp2|gif</ImageSequenceFormats>
    <RectifiedWaveforms>0</RectifiedWaveforms>
    <DefaultTransitionLength>30</DefaultTransitionLength>
    <TimecodeView>0</TimecodeView>
    <ShowTitleSafeArea>0</ShowTitleSafeArea>
    <UseCustomTitleSafeRatio>1</UseCustomTitleSafeRatio>
    <CustomTitleSafeRatio>1.77778</CustomTitleSafeRatio>
    <EnableDragFilesToTimeline>1</EnableDragFilesToTimeline>
    <AutoscaleByDefault>0</AutoscaleByDefault>
    <RecordingMode>2</RecordingMode>
    <EnableSeekToImport>0</EnableSeekToImport>
    <AudioScrubbing>1</AudioScrubbing>
    <DropFileOnMediaToReplace>1</DropFileOnMediaToReplace>
    <Autoscroll>0</Autoscroll>
    <AudioRate>48000</AudioRate>
    <HoverFocus>1</HoverFocus>
    <ProjectViewType>0</ProjectViewType>
    <SetNameWithMarker>1</SetNameWithMarker>
    <ShowProjectToolbar>1</ShowProjectToolbar>
    <PreviousFrameQueueSize>3</PreviousFrameQueueSize>
    <PreviousFrameQueueType>0</PreviousFrameQueueType>
    <UpcomingFrameQueueSize>0.5</UpcomingFrameQueueSize>
    <UpcomingFrameQueueType>1</UpcomingFrameQueueType>
    <Loop>0</Loop>
    <SeekAlsoSelects>0</SeekAlsoSelects>
    <AutoSeekToBeginning>1</AutoSeekToBeginning>
    <CSSPath></CSSPath>
    <EffectTextboxLines>3</EffectTextboxLines>
    <UseSoftwareFallback>0</UseSoftwareFallback>
    <CenterTimelineTimecodes>1</CenterTimelineTimecodes>
    <PreferredAudioOutput></PreferredAudioOutput>
    <PreferredAudioInput></PreferredAudioInput>
    <LanguageFile></LanguageFile>
    <ThumbnailResolution>120</ThumbnailResolution>
    <WaveformResolution>64</WaveformResolution>
    <AddDefaultEffectsToClips>1</AddDefaultEffectsToClips>
    <Style>0</Style>
    <NativeMenuStyling>1</NativeMenuStyling>
    <DefaultSequenceWidth>1920</DefaultSequenceWidth>
    <DefaultSequenceHeight>1080</DefaultSequenceHeight>
    <DefaultSequenceFrameRate>29.97</DefaultSequenceFrameRate>
    <DefaultSequenceAudioFrequency>48000</DefaultSequenceAudioFrequency>
    <DefaultSequenceAudioLayout>3</DefaultSequenceAudioLayout>
    <LockedPanels>0</LockedPanels>
</Configuration>
